<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>{{.WebsiteName}}</title>
    <meta name="Keywords" content="{{.WebsiteKeywords}}">
    <meta name="description" content="{{.WebsiteDescription}}">
    <link rel="shortcut icon" href="static/img/favicon.ico"/>
    <link rel="stylesheet" type="text/css" href="static/css/reset.css"/>
    <link rel="stylesheet" type="text/css" href="static/css/index.css"/>
</head>
<body>
<div id="title">
    <div class="wi">
        <em>
            <a href="javascript:void(0);" onclick="setHome(this,window.location)">设为首页</a><a href="javascript:void(0)"
                                                                                             onMouseOut="hideImg()"
                                                                                             onmouseover="showImg()">球掌门APP下载</a>
        </em>
        {{.WebsiteIndexName}}
    </div>
</div>
<div id="top">
    <h1><a href="/">{{.WebsiteName}}</a></h1>
    <div class="search">
        <input type="text" class="text"/>
        <input type="button" class="button" value="搜索" onclick="search()"/>
    </div>
</div>

<div id="menut">
    <div class="wi">
        <a href="/">首页</a>
        {{range .Nav}}<a href="/{{.CategoryId}}/">{{.CategoryName}}</a>
        {{end}}
    </div>
</div>


<div class="wi">
    <div class="fixed mt20">
        <div class="boxl">

            <div class="limgt">
                {{range .Block1}}
                    <a href="p/{{.Id}}/">
                        <b>{{.Title}}</b>
                        <img src="{{.Cover}}">
                    </a>
                {{end}}
            </div>

            <ul class="fixed imgli">
                {{range .Block2}}
                    <li>
                        <a href="p/{{.Id}}">
                            <span><img src="{{.Cover}}"></span>
                            <p>{{.Title}}</p>
                        </a>
                    </li>
                {{end}}
            </ul>
        </div>

        <div class="boxm mtli">
            {{range .Block3}}
                <dl>
                    <dt><a href="p/{{.Id}}">{{.Title}}</a></dt>
                    <dd><a href="p/{{.Id}}">{{.Desc}}</a></dd>
                </dl>
            {{end}}


            {{range .Block4}}
                <dl>
                    <dt><a href="p/{{.Id}}">{{.Title}}</a></dt>
                </dl>
            {{end}}
        </div>
        <div class="boxr">
            <h2 class="rti">滚动新闻</h2>
            <ul class="rli">

                {{range .Block5}}
                    <li><a href="p/{{.Id}}">{{.Title}}</a></li>
                {{end}}
            </ul>
        </div>
    </div>



   {{/* {{range .screen}}
        <div class="mt20"><a href="###"><img src="static/banner/1100-90-1.jpg"></a></div>
        <div class="tit fixed">
            <b>--</b>
            <em> <i> >> </i><a href="/nav/">更多</a> </em>
        </div>
        <div class="fixed">
            <div class="boxl">

                <div class="limgt">

                    <a href="/p/14751">
                        <b>埃梅里：要感谢莱诺，他是拯救球队的人</b>
                        <img src="https://c1.hoopchina.com.cn/uploads/star/event/images/190408/1c7d39ac77d320da98c2571dc575e60b9e449b28.jpg">
                    </a>
                </div>
                <ul class="fixed imgli">
                    <li>
                        <a href="/p/14750">
                        <span>  <img
                                    src="https://c2.hoopchina.com.cn/uploads/star/event/images/190408/40dec3c0314b988903f278aef5a22ddc2f3d76ac.jpg"></span>
                            <p>埃梅里：要感谢莱诺，他是拯救球队的人</p>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="boxm">
                <ul class="li1 mb30">
                    <li><a href="/p/14751"
                           class="s">埃梅里：要感谢莱诺，他是拯救球队的人</a></li>
                    <li><a href="/p/14750"
                        >埃梅里：要感谢莱诺，他是拯救球队的人</a></li>
                    <li><a href="/p/14740"
                        >瓜帅：赛后吹风斯特林？只是感谢他给孩子们买票而已</a></li>
                    <li><a href="/p/14738"
                        >Telefoot：曼联中场埃雷拉尚未决定未来去向</a></li>
                    <li><a href="/p/14736"
                        >红军利好？波尔图面临停赛困境，佩佩、埃雷拉皆无法出战</a></li>
                    <li><a href="/p/14735"
                        >比利时名记：1亿欧买阿扎尔不够，切尔西还想要更多</a></li>
                    <li><a href="/p/14732"
                        >一图流：欧冠淘汰赛主客场排序怎样更好？数据告诉你答案</a></li>

                </ul>

                <ul class="li1">
                    <li>
                        <a href="/p/14730" class="s">
                            已有胜利之匙？巴萨三叉戟面对德赫亚时都进过球 </a>
                    </li>
                    <li>
                        <a href="/p/14728">
                            图片报：索斯盖特现场观看拜仁多特比赛，考察桑乔 </a>
                    </li>
                    <li>
                        <a href="/p/14727">
                            放松心情，桑切斯在威尔士海边遛狗，并和网友合影 </a>
                    </li>
                    <li>
                        <a href="/p/14725">
                            传2010年巴萨就想签马塔，瓜帅：但他和伊涅斯塔位置重复 </a>
                    </li>
                    <li>
                        <a href="/p/14723">
                            BBC评论员：克洛普让亨德森替补，这一做法有些残酷了 </a>
                    </li>
                    <li>
                        <a href="/p/14721">
                            德布劳内理解门迪状态差：给他点时间吧，他很努力了 </a>
                    </li>
                    <li>
                        <a href="/p/14718">
                            葡媒：若切尔西聘请狼队主帅努诺，狼队将转向本菲卡主帅 </a>
                    </li>

                </ul>
            </div>
            <div class="boxr">
                <h2 class="rti">滚动新闻</h2>
                <ul class="rli">
                    <li><a href="/p/14715">法媒：利物浦看中一名巴黎小妖，巴萨等俱乐部也抱有兴趣</a></li>
                    <li><a href="/p/14696">范戴克：球队的进攻火力很强大，要继续保持这样的势头</a></li>
                    <li><a href="/p/14693">英超争四赔率更新：热刺优势较大，曼联劣势明显</a></li>
                    <li><a href="/p/14659">开启大采购？世体：PSG在英、西、意、法均有目标</a></li>
                    <li><a href="/p/14651">足总杯：德皇双响绝杀，沃特福德补时两球3-2狼进决赛</a></li>
                    <li><a href="/p/14647">赔了夫人又折兵，阿森纳中卫帕帕因累计10黄停赛两场</a></li>
                    <li><a href="/p/14643">克洛普：经常关注多特，训练后还让助教告诉我多特的比分</a></li>
                    <li><a href="/p/14632">真红军？汉堡王官推：我们被低估了？米尔纳也是啊</a></li>
                    <li><a href="/p/14620">马卡分析贝尔下家：曼联不差钱，热刺不缺人，拜仁想换血</a></li>
                    <li><a href="/p/14580">萨里：不明白为什么周一比赛；英超应多帮助欧战球队</a></li>
                    <li><a href="/p/14577">萨里：科瓦契奇能胜任若日尼奥的位置，希望他可以留队</a></li>
                    <li><a href="/p/14575">电讯报：皇马本周将再次报价阿扎尔，希望赛季结束前敲定</a></li>
                    <li><a href="/p/14572">洛夫伦用长得超像的球迷调戏萨拉赫：哥们想骑车回利物浦</a></li>
                    <li><a href="/p/14570">晨报：阿森纳告负排名第四，尤文巴黎夺冠暂缓</a></li>
                    <li><a href="/p/14568">零点电台：罗德里已告知马竞方面，他确实想要离队</a></li>
                </ul>
            </div>
        </div>
    {{end}}*/}}





    <div class="mt20"><a href="###"><img src="static/banner/1100-90-1.jpg"></a></div>
    <div class="tit fixed">
        <b>国际足球</b>
        <em> <i> >> </i><a href="/s/欧冠">更多</a> </em>
    </div>
    <div class="fixed">
        <div class="boxl">

            <div class="limgt">

                <a href="/p/14751">
                    <b>埃梅里：要感谢莱诺，他是拯救球队的人</b>
                    <img src="https://c1.hoopchina.com.cn/uploads/star/event/images/190408/1c7d39ac77d320da98c2571dc575e60b9e449b28.jpg">
                </a>
            </div>
            <ul class="fixed imgli">
                <li>
                    <a href="/p/14750">
                        <span>  <img
                                    src="https://c2.hoopchina.com.cn/uploads/star/event/images/190408/40dec3c0314b988903f278aef5a22ddc2f3d76ac.jpg"></span>
                        <p>埃梅里：要感谢莱诺，他是拯救球队的人</p>
                    </a>
                </li>
                <li>
                    <a href="/p/14740">
                        <span>  <img
                                    src="https://c2.hoopchina.com.cn/uploads/star/event/images/190408/eb5628a014987cfefbd6b2b4381f6df3e5bd107d.jpg"></span>
                        <p>瓜帅：赛后吹风斯特林？只是感谢他给孩子们买票而已</p>
                    </a>
                </li>
                <li>
                    <a href="/p/14738">
                        <span>  <img
                                    src="https://c1.hoopchina.com.cn/uploads/star/event/images/190408/872375eb8d15bed4cb095b90d99def149cdfeb07.png"></span>
                        <p>Telefoot：曼联中场埃雷拉尚未决定未来去向</p>
                    </a>
                </li>
                <li>
                    <a href="/p/14736">
                        <span>  <img
                                    src="https://c2.hoopchina.com.cn/uploads/star/event/images/190408/b7de2b4aeaaec853f73e5a7ed2ab46c9af381066.jpg"></span>
                        <p>红军利好？波尔图面临停赛困境，佩佩、埃雷拉皆无法出战</p>
                    </a>
                </li>
            </ul>
        </div>
        <div class="boxm">
            <ul class="li1 mb30">
                <li><a href="/p/14751"
                       class="s">埃梅里：要感谢莱诺，他是拯救球队的人</a></li>
                <li><a href="/p/14750"
                    >埃梅里：要感谢莱诺，他是拯救球队的人</a></li>
                <li><a href="/p/14740"
                    >瓜帅：赛后吹风斯特林？只是感谢他给孩子们买票而已</a></li>
                <li><a href="/p/14738"
                    >Telefoot：曼联中场埃雷拉尚未决定未来去向</a></li>
                <li><a href="/p/14736"
                    >红军利好？波尔图面临停赛困境，佩佩、埃雷拉皆无法出战</a></li>
                <li><a href="/p/14735"
                    >比利时名记：1亿欧买阿扎尔不够，切尔西还想要更多</a></li>
                <li><a href="/p/14732"
                    >一图流：欧冠淘汰赛主客场排序怎样更好？数据告诉你答案</a></li>

            </ul>

            <ul class="li1">
                <li>
                    <a href="/p/14730" class="s">
                        已有胜利之匙？巴萨三叉戟面对德赫亚时都进过球 </a>
                </li>
                <li>
                    <a href="/p/14728">
                        图片报：索斯盖特现场观看拜仁多特比赛，考察桑乔 </a>
                </li>
                <li>
                    <a href="/p/14727">
                        放松心情，桑切斯在威尔士海边遛狗，并和网友合影 </a>
                </li>
                <li>
                    <a href="/p/14725">
                        传2010年巴萨就想签马塔，瓜帅：但他和伊涅斯塔位置重复 </a>
                </li>
                <li>
                    <a href="/p/14723">
                        BBC评论员：克洛普让亨德森替补，这一做法有些残酷了 </a>
                </li>
                <li>
                    <a href="/p/14721">
                        德布劳内理解门迪状态差：给他点时间吧，他很努力了 </a>
                </li>
                <li>
                    <a href="/p/14718">
                        葡媒：若切尔西聘请狼队主帅努诺，狼队将转向本菲卡主帅 </a>
                </li>

            </ul>
        </div>
        <div class="boxr">
            <h2 class="rti">滚动新闻</h2>
            <ul class="rli">
                <li><a href="/p/14715">法媒：利物浦看中一名巴黎小妖，巴萨等俱乐部也抱有兴趣</a></li>
                <li><a href="/p/14696">范戴克：球队的进攻火力很强大，要继续保持这样的势头</a></li>
                <li><a href="/p/14693">英超争四赔率更新：热刺优势较大，曼联劣势明显</a></li>
                <li><a href="/p/14659">开启大采购？世体：PSG在英、西、意、法均有目标</a></li>
                <li><a href="/p/14651">足总杯：德皇双响绝杀，沃特福德补时两球3-2狼进决赛</a></li>
                <li><a href="/p/14647">赔了夫人又折兵，阿森纳中卫帕帕因累计10黄停赛两场</a></li>
                <li><a href="/p/14643">克洛普：经常关注多特，训练后还让助教告诉我多特的比分</a></li>
                <li><a href="/p/14632">真红军？汉堡王官推：我们被低估了？米尔纳也是啊</a></li>
                <li><a href="/p/14620">马卡分析贝尔下家：曼联不差钱，热刺不缺人，拜仁想换血</a></li>
                <li><a href="/p/14580">萨里：不明白为什么周一比赛；英超应多帮助欧战球队</a></li>
                <li><a href="/p/14577">萨里：科瓦契奇能胜任若日尼奥的位置，希望他可以留队</a></li>
                <li><a href="/p/14575">电讯报：皇马本周将再次报价阿扎尔，希望赛季结束前敲定</a></li>
                <li><a href="/p/14572">洛夫伦用长得超像的球迷调戏萨拉赫：哥们想骑车回利物浦</a></li>
                <li><a href="/p/14570">晨报：阿森纳告负排名第四，尤文巴黎夺冠暂缓</a></li>
                <li><a href="/p/14568">零点电台：罗德里已告知马竞方面，他确实想要离队</a></li>
            </ul>
        </div>
    </div>





    <div style="margin-top: 30px; border-bottom: #ddd 1px solid;"></div>

    <div id="wxImg" style="height: 20px;position: absolute;top: 30px;right: 160px; display: none;z-index: 999;">
        <img src="http://www.qiuzhangmen.com/images/qzm-app-3.png" style="width: 100px"/>
    </div>
    <div class="footer">
        <p>
            Copyright © 2019 All Rights Reserved. 玩玩球 版权所有
        </p>
    </div>


</div>

<script type="text/javascript" src="/js/jquery.js"></script>
<script type="text/javascript" src="/js/jquery.SuperSlide.js"></script>
<script type="text/javascript" src="/js/common.js"></script>
<script type="text/javascript">
    jQuery(".tabox").slide(onclick);

    $("#down").hover(function () {
        $(".weibo").fadeIn(500);
        $(".qq,.twitter,.wechat").fadeOut(0);
        $(".code_wrap").css("z-index", 200);
    }, function () {
        $(".weibo").fadeOut(0);
        $(".code_wrap").css("z-index", 50);
    });

</script>

</body>
</html>
