
/* reset */
html, body, div, p, ul, li, dl, dt, dd, h1, h2, h3, h4, h5, h6, form, input, select, button, textarea, iframe { margin: 0; padding: 0; }


body,
button, input, select, textarea { 
	font-size:12px;
	font-family:"Microsoft YaHei";
}
a{ text-decoration:none;}

html{-webkit-text-size-adjust: none;}

em, i { font-style: normal; }


a,area { blr:expression(this.onFocus=this.blur()) }
:focus { outline-style: none; -moz-outline-style: none;}

img, table, input, select, button {vertical-align: middle;}
img { border: 0 none; vertical-align: top; }


ul, ol { list-style: none; }

button { cursor: pointer; }


.tal {text-align: left;}
.tar {text-align: right;}
.tac{text-align: center;}

.fl {float:left; display: inline;}
.fr {float:right; display: inline;}


.fixed:after { content: "."; display: block; clear: both; height: 0; visibility: hidden; }
.fixed { display: block; min-height: 1%; }
*html .fixed { height: 1%; }
.fixed { *zoom: 1; } /* IE6 */


table {
    border-collapse: collapse;
    border-spacing: 0;
}


html { overflow-y: scroll; }


.none {display: none;}

